@import "_normalize.scss"
@import "_reset.scss"

$color-orange: #F28B64
$color-blue: #5290EA
$color-grey: #E2E2E2

*
    box-sizing: border-box

html
    font-family: 'Montserrat'

.container
    max-width: 1140px
    width: 100%
    margin: 0 auto

.nav-menu
    &__menu
        margin-top: 21px
    &__item
        display: inline
        margin-right: 66px
        font-weight: 600
        font-size: 18px
        line-height: 22px
        &:last-child
            margin-right: 0

.icons-container
    display: flex
    &__item
        width: 40px
        height: 40px
        border: 1px solid #488AEA
        border-radius: 50%
        background-color: $color-grey
        display: inherit
        justify-content: center
        align-items: center
        margin-right: 17px
        &:last-child
            margin-right: 0
        i
            font-size: 21px

.title
    font-weight: 600
    font-size: 72px
    line-height: 68px
    &__line
        width: 65px
        border-top: 1px solid #000

.buttons
    display: flex
    align-items: start
    &__main-button
        width: 200px
        height: 60px
        background: $color-orange
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
        border: none
        margin-right: 32px
    &__button-text
        font-weight: 600
        font-size: 18px
        line-height: 19px
        color: #fff
    &__chat
        display: flex
        align-items: center
        border: none
    &__chat-logo
        margin-right: 12px
    &__chat-text
        text-align: left
        font-weight: 300
        font-size: 16px
        line-height: 17px

.section-one
    min-height: 880px
    background-color: #F0F0F0
    position: relative
    overflow: hidden
    &__wrapper
        padding-top: 16px
    &__header
        display: flex
        justify-content: space-between
    &__content-wrapper
        display: flex
        position: relative
    &__figure
        position: relative
        &-item
            height: 220px
            border-radius: 100px
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            position: absolute
            &_orange
                background-color: $color-orange
                width: 618.43px
                transform: rotate(-50.81deg)
                top: 147px
                left: -50px
            &_blue
                background-color: $color-blue
                width: 565.95px
                transform: rotate(-64deg)
                top: 142px
                left: -73px
            &_grey
                background-color: $color-grey
                width: 608.97px
                transform: rotate(-36.15deg)
                top: 185px
                left: -10px
    &__img
        position: relative
        z-index: 5
    &__right-box
        width: 372px
        position: absolute
        left: 715px
        top: 150px
    &__icons
        margin-bottom: 3px
        padding-left: 10px
    &__title
        margin-bottom: 5px
    &__text
        font-weight: 400
        font-size: 16px
        line-height: 20px
        margin-bottom: 20px
    &__small-ring
        position: absolute
        top: 211px
        right: 365px
    &__big-ring
        position: absolute
        top: 734px
        right: -137px
        &_rotated
            transform: rotate(45deg)

.ring
    width: 194px
    height: 194px
    background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%)
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    &_big
        width: 282px
        height: 282px
    &__inside-circle
        width: 129px
        height: 129px
        background-color: #E5E5E5
        border-radius: 50%
        display: flex
        &_white
            background-color: #fff
        &_big
            width: 188px
            height: 188px

.section-two
    min-height: 700px
    background-color: #fff
    position: relative
    &__wrapper
        padding-top: 32px
    &__title
        margin-bottom: 40px
    &__cards-wrapper
        margin-bottom: 28px
        position: relative
        z-index: 1
    &__first-ring
        transform: rotate(41.35deg)
        position: absolute
        top: 48px
        right: 295px
        &_rotated
            transform: rotate(41.35deg)
    &__second-ring
        position: absolute
        top: 345px
        left: 280px
    &__circle

.cards
    display: flex
    &__item
        display: flex
        align-items: flex-end
        width: 360px
        height: 360px
        border-radius: 10px
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
        margin-right: 30px
        padding-right: 50px
        position: relative
        &:last-child
            margin-right: 0
        &_grey
            background-color: $color-grey
        &_orange
            background-color: $color-orange
        &_blue
            background-color: $color-blue
    &__text
        transform: rotate(90deg)
        width: 280px
        font-weight: 600
        font-size: 36px
        line-height: 44px
        text-align: center
        position: absolute
        top: 140px
        right: -54px

.line-box
    display: flex
    justify-content: space-around
    &__icon
        margin-right: 20px
    &__item
        display: flex
        align-items: center
    &__number
        font-weight: 600
        font-size: 48px
    &__text
        width: 139px
        font-weight: 400
        font-size: 18px
        line-height: 22px

.section-three
    min-height: 640px
    background-color: #F0F0F0
    position: relative
    overflow: hidden
    &__content-wrapper
        display: flex
        align-items: center
        padding-top: 46px
    &__left-wrapper
        position: relative
        z-index: 1
        margin-right: 88px
        width: 542px
        padding-left: 155px
    &__right-wrapper
        width: 479px
    &__right-title
        margin-bottom: 20px
        padding-left: 5px
    &__line
        position: absolute
        top: 115px
    &__text
        margin-bottom: 25px
        font-weight: 400
        font-size: 18px
        line-height: 22px
        &:last-child
            margin-bottom: 0
    &__first-ring
        position: absolute
        top: -120px
        right: -80px
        &_rotated
            transform: rotate(-48.2deg)
    &__second-ring
        position: absolute
        top: 160px
        left: 440px
    &__circle
        position: absolute
        top: 260px
        left: 360px

.footer
    display: flex
    background-color: #fff
    height: 272px
    &__img
        margin-right: 97px
    &__wrapper
        padding-top: 39px
    &__title
        width: 557px
        margin-bottom: 20px
        position: relative
    &__line
        position: absolute
        top: 70px
