@import "_reset.scss"
@import "_normalize.scss"

$color-orange: #F28B64

*
    box-sizing: border-box

html
    font-family: 'Montserrat'

.container
    max-width: 1140px
    width: 100%
    margin: 0 auto
    padding-top: 16px

.nav-menu
    &__menu
        margin-top: 21px
    &__item
        display: inline
        margin-right: 66px
        font-weight: 600
        font-size: 18px
        line-height: 22px
        &:last-child
            margin-right: 0

.icons-container
    display: flex
    &__item
        width: 40px
        height: 40px
        border: 1px solid #488AEA
        border-radius: 50%
        background-color: #E5E5E5
        display: inherit
        justify-content: center
        align-items: center
        margin-right: 17px
        &:last-child
            margin-right: 0
        i
            font-size: 21px

.title
    font-weight: 600
    font-size: 72px
    line-height: 68px

.section-one
    height: 880px
    background-color: #F0F0F0
    &__header
        display: flex
        justify-content: space-between
    &__content-wrapper
        display: flex
    &__figure
        position: relative
        &-item
            height: 220px
            border-radius: 100px
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            position: absolute
            &_orange
                background-color: $color-orange
                width: 618.43px
                transform: rotate(-50.81deg)
                top: 147px
                left: -50px
            &_blue
                background-color: #5290EA
                width: 565.95px
                transform: rotate(-64deg)
                top: 142px
                left: -73px
            &_grey
                background-color: #E2E2E2
                width: 608.97px
                transform: rotate(-36.15deg)
                top: 185px
                left: -10px
    &__img
        position: relative
        z-index: 5
    &__text
        font-weight: 400
        font-size: 16px
        line-height: 20px
    &__box
        display: flex
    &__button
        display: inline-block
        text-align: center
        vertical-align: middle
        width: 200px
        height: 60px
        background: $color-orange
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
    &__button__text
        font-weight: 600
        font-size: 18px
        line-height: 19px
        color: #fff
    &__chat-text
        font-weight: 300
        font-size: 16px
        line-height: 17px