@import "_reset.scss"
@import "_normalize.scss"

*
    box-sizing: border-box

html
    font-family: 'Montserrat'

.container
    max-width: 1440px
    width: 100%
    margin: 0 auto

.section-one
    height: 880px
    background-color: #F0F0F0
    padding-top: 16px
    &__nav-wrapper
        display: flex
        justify-content: space-between
        padding: 0 169px 0 173px
    &__logo
    &__menu
        margin-top: 21px
        &-item
            display: inline
            margin-right: 66px
            font-weight: 600
            font-size: 18px
            line-height: 22px
            &:last-child
                margin-right: 0