doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/style.css")
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet")
		script(src="https://kit.fontawesome.com/6d3ca53d44.js" crossorigin="anonymous")
		title Guitar School
	body
		section.section-one
			.container.section-one__wrapper
				header.section-one__header
					a(href="index.html").section-one_logo: img(src="img/logo.svg" alt="logo").section-one__logo-img
					nav.section-one__nav.nav-menu
						ul.nav-menu__menu
							li.nav-menu__item Обо мне
							li.nav-menu__item Занятия
							li.nav-menu__item Запись
				.section-one__small-ring.ring
					.ring__inside-circle
				.section-one__content-wrapper
					.section-one__figure
						.section-one__figure-item.section-one__figure-item_grey
						.section-one__figure-item.section-one__figure-item_blue
						.section-one__figure-item.section-one__figure-item_orange
						img(src="img/GuitarMen.png", alt="Гитарист").section-one__img
					.section-one__right-box
						.section-one__icons.icons-container
							.icons-container__item: <i class="fa-brands fa-skype"></i>
							.icons-container__item: <i class="fa-brands fa-vk"></i>
							.icons-container__item: <i class="fa-brands fa-telegram"></i>
							.icons-container__item: <i class="fa-brands fa-instagram"></i>
						h1.section-one__title.title Я Виктор
							.title__line
						p.section-one__text Репетитор игры на гитаре с семилетним опытом преподавания
						.section-one__buttons.buttons
							button.buttons__main-button
								.buttons__button-text Забронировать урок
							button.buttons__chat
								img(src="img/chat.svg", alt="иконка").buttons__chat-logo
								p.buttons__chat-text Есть вопросы?
			.section-one__big-ring.section-one__big-ring_rotated.ring.ring_big
				.ring__inside-circle.ring__inside-circle_big
		section.section-two
			.section-two__wrapper.container
				h1.section-two__title.title Преподаю
					.title__line
				.section-two__cards-wrapper.cards
					.cards__item.cards__item_grey
						img(src="img/neck_grey.png", alt="Гриф гитары").cards__img
						p.cards__text Электро гитара
					.cards__item.cards__item_orange
						img(src="img/neck_orange.png", alt="Гриф гитары").cards__img
						p.cards__text Акустическая гитара
					.cards__item.cards__item_blue
						img(src="img/neck_blue.png", alt="Гриф гитары").cards__img
						p.cards__text Укулеле гитара
				.section-two__horizontal-wrapper.line-box
					.line-box__item
						img(src="img/winner.svg", alt="Иконка").line-box__icon
						.line-box__text-wrapper
							h4.line-box__number 7
							p.line-box__text лет преподавания
					.line-box__item
						img(src="img/certificate.svg", alt="Иконка").line-box__icon
						.line-box__text-wrapper
							h4.line-box__number 276
							p.line-box__text отзывов на&nbsp5&nbspзвезд
					.line-box__item
						img(src="img/study.svg", alt="Иконка").line-box__icon
						.line-box__text-wrapper
							h4.line-box__number 314
							p.line-box__text студентов обучено
					.line-box__item
						img(src="img/note.svg", alt="Иконка").line-box__icon
						.line-box__text-wrapper
							h4.line-box__number 2000
							p.line-box__text часов преподавания
			.section-two__first-ring.section-two__first-ring_rotated.ring
					.ring__inside-circle.ring__inside-circle_white
			.section-two__second-ring.ring
					.ring__inside-circle.ring__inside-circle_white
		section.section-three
			.section-three__content-wrapper.container
				.section-three__left-wrapper
					h1.section-three__left-title.title Обучение
					.title__line
				.section-three__right-wrapper
					h1.section-three__right-title.title Готовлю виртуозов
					.section-three__line.title__line
					p.section-three__text Равным образом рамки и место обучения кадров влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Товарищи! реализация намеченных плановых заданий позволяет выполнять важные задания по разработке систем массового участия. 
					p.section-three__text Повседневная практика показывает, что рамки и место обучения кадров позволяет оценить значение новых предложений. Не следует, однако забывать, что рамки и место обучения кадров влечет за собой процесс внедрения и модернизации систем массового участия.
					.section-one__buttons.buttons
							button.buttons__main-button
								.buttons__button-text Забронировать урок
							button.buttons__chat
								img(src="img/chat.svg", alt="иконка").buttons__chat-logo
								p.buttons__chat-text Есть вопросы?
			.section-three__first-ring.section-three__first-ring_rotated.ring.ring_big
				.ring__inside-circle.ring__inside-circle_big
			.section-three__second-ring.ring.ring_big
				.ring__inside-circle.ring__inside-circle_big
			img(src="img/circle.svg", alt="Круг").section-three__circle
		footer.footer
			img(src="img/neck.png", alt="Гриф").footer__img
			.footer__wrapper
				h1.footer__title.title Запишись на пробный урок
					.footer__line.title__line
				.footer__icons.icons-container
					.icons-container__item: i.fa-brands.fa-skype
					.icons-container__item: i.fa-brands.fa-vk
					.icons-container__item: i.fa-brands.fa-telegram
					.icons-container__item: i.fa-brands.fa-instagram