doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet")
        title Guitar School
    body
        .container
            .section-one
                .section-one__nav-wrapper
                    a(href="index.html").section-one_logo
                        img(src="img/logo.svg", alt="logo").section-one__logo-img
                    ul.section-one__menu
                        li.section-one__menu-item Обо мне
                        li.section-one__menu-item Занятия
                        li.section-one__menu-item Запись
                .section-one__figure
                    .section-one__figure-item.section-one__figure-item_orange
                    .section-one__figure-item.section-one__figure-item_blue
                    .section-one__figure-item.section-one__figure-item_grey